@{
    ViewBag.Title = "About me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a simple man who landed on this planet and God knows why.</p>
<p>Chess, table tennis, classical music and some programming things that might help other people, are also part of my life.</p>
<p>If you just have an idea and don't know how to go further with it, write me <a href="mailto:cristian.prisecaru@gmail.com">here</a> and I will try to help you.</p>
