
@{
    ViewBag.Title = "CV";
}

<h4>Curriculum Vitae (<a href="@Url.Action("GermanCV")" class=".hidden-print">german version here</a>)</h4>

<div class="row">
    <div class="col-xs-4">
        <h5><strong> PERSONAL INFORMATION</strong></h5>
        <img class="img-responsive" src="~/Content/photocv-small.png" />
    </div>
    <div class="col-xs-8">
        <h6><strong> Vasile Cristian Prisecaru </strong></h6>
        <p>Madrider Ring 54, 97084 Würzburg (Germany)<br />
        +49 1573 490 6117<br />
        <a href="mailto:cristian.prisecaru@gmail.com">cristian.prisecaru@gmail.com</a><br/>
        <a href="http://pca.apphb.com/">pca.apphb.com</a><br/>
        01/01/1981<br/>
        Romanian</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5><strong> DESIRED JOB </strong></h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .NET Software Engineer / Architect </strong></h6>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5><strong> WORK EXPERIENCE </strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>January 2012 - </h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .NET Software Engineer </strong></h6>
        <address>
            <strong>Eikona AG (www.eikona.de)</strong><br>
            Am Alten Bahnhof 8, D-97332 Volkach (Germany)
        </address>
        <ul class="list-unstyled">
            <li>- Designing, developing and maintaining web applications in logistics using ASP.NET MVC;</li>
            <li>- Communicate with the clients and propose solutions according to requirements;</li>
            <li>
                - Monitoring and optimizing the performance of applications using tools: Perfmon, DebugDiag,
                LogParser, etc.;
            </li>
            <li>- Defining and following the elements of the architecture;</li>
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>July 2008 - December 2011</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .Net Software Developer / Technical Team Leader </strong></h6>
        <address>
            <strong>Pentalog Romania SRL (www.pentalog.com)</strong><br>
            Ciurchi 126-128, 700366 Iasi (Romania)
        </address>
        <ul class="list-unstyled">
            <li>- Designing and developing software solutions using .Net technologies;</li>
            <li>- Monitoring the quality of software development;</li>
            <li>
                - Maintaining the existing applications;
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h5>April 2007 - July 2008</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .Net Software Developer </strong></h6>
        <address>
            <strong>Levi9 SRL (www.levi9.com)</strong><br>
            Mosu 6, 700390 Iasi (Romania)
        </address>
        <ul class="list-unstyled">
            <li>- Designing, developing and maintaining web software solutions using .Net technologies;</li>
            <li>- Designing and developing applications using SharePoint 2007;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h5>January 2007 – April 2007</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> Java Software Developer </strong></h6>
        <address>
            <strong>Embarcadero Technologies SRL (www.embarcadero.com)</strong><br>
            Anastasie Panu 26, 700020 Iasi (Romania)
        </address>
        <ul class="list-unstyled">
            <li>- Developing and maintaining existing Java products;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h5>June 2005 – January 2007</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .Net Software Developer </strong></h6>
        <address>
            <strong>Smart2Tech Development SRL (www.smart2tech.com)</strong><br>
            Morilor 28, 700011 Iasi (Romania)
        </address>
        <ul class="list-unstyled">
            <li>- Developing web applications using .NET Framework 1.1, 2.0 and C#;</li>
            <li>- Developing windows applications using .NET Framework 1.1, 2.0 and C#;</li>
            <li>- Maintaining the existing applications;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h5>January 2004 - June 2005</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> Informatician </strong></h6>
        <address>
            <strong>Banca Comerciala Romana SA (currently Erste Group) (www.bcr.ro)</strong><br>
            Principala, Trusesti / Botosani (Romania)
        </address>
        <ul class="list-unstyled">
            <li>- Entering data into systems, data processing;</li>
            <li>- Account Management, back office opperations;</li>
            <li>- Giving colleagues helpful advice in working with computers;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h5><strong> EDUCATION </strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>October 1999 – June 2003</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> BSc. degree in Computer Science </strong></h6>
        <address>
            <strong>"Al. I. Cuza" University of Iasi, Faculty of Computer Science (www.infoiasi.ro)</strong><br>
            General Berthelot 16, 700483 Iasi (Romania)
        </address>
        <ul class="list-unstyled">
            <li>- Computer programming;</li>
            <li>- Algorithms and data structures;</li>
            <li>- Databases;
            </li>
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>September 1995 – June 1999</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> Romanian high school diploma </strong></h6>
        <address>
            <strong>Computer Science High School "Gr. Moisil" (www.liis.ro)</strong><br>
            Petre Andrei 9, Iasi (Romania)
        </address>
        <ul class="list-unstyled">
            <li>- Computer programming;</li>
            <li>- Algorithms and data structures;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h5><strong> PERSONAL SKILLS </strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Mother tongue</h5>
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li><strong>Romanian</strong></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Other languages</h5>
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li><strong>English</strong></li>
            <li>
                <ul class="list-inline">
                    <li>Understanding: C1</li>
                    <li>Speaking: C1</li>
                    <li>Writing: C1</li>
                </ul>
            </li>
            <li><strong>German</strong></li>
            <li>
                <ul class="list-inline">
                    <li>Understanding: C1</li>
                    <li>Speaking: C1</li>
                    <li>Writing: C1</li>
                </ul>
            </li>
            <li><strong>French</strong></li>
            <li>
                <ul class="list-inline">
                    <li>Understanding: C1</li>
                    <li>Speaking: B2/C1</li>
                    <li>Writing: B2</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Organisational / managerial skills</h5>
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li>- Good organizational skills;</li>
            <li>- Team player;</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Computer skills</h5>
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li>- Development environment: Visual Studio 2012-2005; Borland Delphi 2006; Eclipse 3.2;</li>
            <li>- Programming languages: C#, Java, Delphi, VB.NET, VB 6.0;</li>
            <li>- RDBMS: Microsoft SQL Server 2008-2000; Access 2002;</li>
            <li>- NOSQL: Cassandra, CQL;</li>
            <li>- .NET Controls: KendoUI, DeveloperExpress DXperience v2010 vol 1;</li>
            <li>- Technologies / Frameworks: ASP.NET MVC 3.0-5.0, ASP.NET Web Forms, Windows Forms, AJAX, Kendo UI,
jQuery, Javascript, TypeScript, XML, XSL, HTML, CSS, Entity Framework, ADO.NET, Big Data;</li>
            <li>- Revision Control Systems: Git, TFS, SVN;</li>
            <li>- Software Development Process: SCRUM, Kanban;</li>
            <li>- Good knowledge of design patterns and object-oriented programming;</li>
            <li>- MCTS certified (".NET Framework 2.0 Web Applications");</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h5><strong> ADDITIONAL INFORMATION </strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        &nbsp;
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li>- 2010 - TestDaF (Goethe Zentrum, Iasi, Romania);</li>
            <li>- 2009 - Research about: "Design and implementation issues of object databases";</li>
            <li>- 2008 - TS: Microsoft® .NET Framework 2.0 - Web-based Client Development;</li>
            <li>- 2007 - TS: Microsoft® .NET Framework 2.0 - Application Development Foundation;</li>
            <li>- Driving license: B;</li>
            <li>- Hobbies: chess, table tennis, classical music;</li>
        </ul>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/analytics")
}