
@{
    ViewBag.Title = "Lebenslauf";
}

<h4>Lebenslauf <a href="@Url.Action("CV")" class="hidden-print">(die englische Version hier)</a></h4>

<div class="row">
    <div class="col-xs-4">
        <h5><strong> ANGABEN ZUR PERSON</strong></h5>
        <img class="img-responsive" src="~/Content/photocv-small.png" />
    </div>
    <div class="col-xs-8">
        <h6><strong> Vasile Cristian Prisecaru </strong></h6>
        <p>Madrider Ring 54, 97084 Würzburg (Deutschland)<br />
        +49 1573 490 6117<br />
        <a href="mailto:cristian.prisecaru@gmail.com">cristian.prisecaru@gmail.com</a><br/>
        <a href="http://pca.apphb.com/">pca.apphb.com</a><br/>
        01.01.1981<br/>
        Rumänisch</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5><strong> GEWÜNSCHTE BESCHÄFTIGUNG </strong></h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .NET Software Engineer / Architekt </strong></h6>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5><strong> BERUFSERFAHRUNG </strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Januar 2012 - </h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .NET Softwareentwickler </strong></h6>
        <address>
            <strong>Eikona AG (www.eikona.de)</strong><br>
            Am Alten Bahnhof 8, D-97332 Volkach (Deutschland)
        </address>
        <ul class="list-unstyled">
            <li>- Entwurf, Entwicklung und Wartung von Anwendungen mit ASP.NET MVC im Bereich Logistik;</li>
            <li>- Kunden betreuen und beraten im Entwicklungsprozess;</li>
            <li>- Überwachung und Optimierung der Anwendungs-Performance mithilfe von Tools: Perfmon,
DebugDiag, Log Parser, etc.</li>
            <li>- Architekturkomponenten definieren und verfolgen;</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>July 2008 - Dezember 2011</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .NET Softwareentwickler / Teamleiter </strong></h6>
        <address>
            <strong>Pentalog Romania SRL (www.pentalog.com)</strong><br>
            Ciurchi 126-128, 700366 Iasi (Rumänien)
        </address>
        <ul class="list-unstyled">
            <li>- Entwurf und Entwicklung von Systemen mit .NET Framework 2.0 und C#;</li>
            <li>- Überwachung der Qualität der Softwareentwicklung;</li>
            <li>- Entwicklung von Anwendungen mit Delphi;</li>
            <li>- Wartung der bestehenden Anwendungen;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h5>April 2007 - July 2008</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .NET Softwareentwickler </strong></h6>
        <address>
            <strong>Levi9 SRL (www.levi9.com)</strong><br>
            Mosu 6, 700390 Iasi (Rumänien)
        </address>
        <ul class="list-unstyled">
            <li>- Entwicklung von WebParts für SharePoint 2007;</li>
            <li>- Entwurf und Entwicklung von webbasierten Anwendungen mit .NET Framework 2.0 und C#;</li>
            <li>- Wartung der bestehenden Anwendungen;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h5>Januar 2007 - April 2007</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> Java Softwareentwickler </strong></h6>
        <address>
            <strong>Embarcadero Technologies SRL (www.embarcadero.com)</strong><br>
            Anastasie Panu 26, 700020 Iasi (Rumänien)
        </address>
        <ul class="list-unstyled">
            <li>- Entwicklung und Wartung von Anwendungen mit Java;;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h5>Juni 2005 - Januar 2007</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> .NET Softwareentwickler </strong></h6>
        <address>
            <strong>Smart2Tech Development SRL (www.smart2tech.com)</strong><br>
            Morilor 28, 700011 Iasi (Rumänien)
        </address>
        <ul class="list-unstyled">
            <li>- Entwicklung von webbasierten Anwendungen mit .NET Framework 1.1, 2.0 und C#;</li>
            <li>- Entwicklung von Windows-basierten Anwendungen mit .NET Framework 1.1, 2.0 und C#;</li>
            <li>- Wartung der bestehenden Anwendungen;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h5>Januar 2004 - Juni 2005</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> Informatiker </strong></h6>
        <address>
            <strong>Banca Comerciala Romana SA (currently Erste Group) (www.bcr.ro)</strong><br>
            Principala, Trusesti / Botosani (Rumänien)
        </address>
        <ul class="list-unstyled">
            <li>- Daten eingeben, Datenverarbeitung, Datenbankverwaltung;</li>
            <li>- Kontenverwaltung, Back-Office Aufgaben;</li>
            <li>- Den Kollegen Ratschläge und Unterstützung für die Arbeit am Computer bieten;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h5><strong> SCHUL- UND BERUFSBILDUNG </strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Oktober 1999 - Juni 2003</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> Hochschulabschluss in Informatik </strong></h6>
        <address>
            <strong> Universität „Al. I. Cuza“- Fakultät für Informatik (www.infoiasi.ro) </strong><br>
            General Berthelot 16, 700483 Iasi (Rumänien)
        </address>
        <ul class="list-unstyled">
            <li>- Computer Programmierung;</li>
            <li>- Algorithmen und Datenstrukturen;</li>
            <li>- Datenbanken;</li>
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>September 1995 - Juni 1999</h5>
    </div>
    <div class="col-xs-8">
        <h6><strong> Abitur </strong></h6>
        <address>
            <strong>Computer Science High School "Gr. Moisil" (www.liis.ro)</strong><br>
            Petre Andrei 9, Iasi (Rumänien)
        </address>
        <ul class="list-unstyled">
            <li>- Computer Programmierung;</li>
            <li>- Algorithmen und Datenstrukturen;</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h5><strong> PERSÖNLICHE FÄHIGKEITEN </strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Muttersprache</h5>
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li><strong>Rumänisch</strong></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Weitere Sprachen</h5>
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li><strong>Deutsch</strong></li>
            <li>
                <ul class="list-inline">
                    <li>Verstehen: C1</li>
                    <li>Sprechen: C1</li>
                    <li>Schreiben: C1</li>
                </ul>
            </li>
            <li><strong>English</strong></li>
            <li>
                <ul class="list-inline">
                    <li>Verstehen: C1</li>
                    <li>Sprechen: C1</li>
                    <li>Schreiben: C1</li>
                </ul>
            </li>
            <li><strong>Französisch</strong></li>
            <li>
                <ul class="list-inline">
                    <li>Verstehen: C1</li>
                    <li>Sprechen: B2/C1</li>
                    <li>Schreiben: B2</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Organisations- und Führungstalent</h5>
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li>- Gute organisatorischen Fähigkeiten;</li>
            <li>- Teamplayer;</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h5>Computerkenntnisse</h5>
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li>- Entwicklungsumgebung: Visual Studio 2012-2005; Borland Delphi 2006; Eclipse 3.2;</li>
            <li>- Programmiersprachen: C#, Java, Delphi, VB.NET, VB 6.0;</li>
            <li>- RDBMS: Microsoft SQL Server 2012-2000; Access 2002;</li>
            <li>- NOSQL: Cassandra, CQL;</li>
            <li>- Komponentensuite für .NET: KendoUI, DeveloperExpress DXperience v2010 vol 1;</li>
            <li>- Technologien / Frameworks: ASP.NET MVC 3.0-5.0, ASP.NET Web Forms, Windows Forms, AJAX, Kendo UI,
jQuery, Javascript, TypeScript, XML, XSL, HTML, CSS, Entity Framework, ADO.NET, Big Data;</li>
            <li>- Versionsverwaltungssysteme: Git, TFS, SVN;</li>
            <li>- Vorgehensmodell zur Softwareentwicklung: SCRUM, Kanban;</li>
            <li>- Gute Kenntnisse über Entwurfsmuster und objektorientierte Programmierung;</li>
            <li>- MCTS zertifiziert (".NET Framework 2.0 Web Applications");</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h5><strong> ZUSÄTZLICHE INFORMATIONEN </strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        &nbsp;
    </div>
    <div class="col-xs-8">
        <ul class="list-unstyled">
            <li>- 2010 - TestDaF (Goethe Zentrum, Iasi, Romania);</li>
            <li>- 2009 - Forschung zum Thema: "Design and implementation issues of object databases";</li>
            <li>- 2008 - TS: Microsoft® .NET Framework 2.0 - Web-based Client Development;</li>
            <li>- 2007 - TS: Microsoft® .NET Framework 2.0 - Application Development Foundation;</li>
            <li>- Führerschein: B;</li>
            <li>- Hobbys: Schach, Tischtennis, klassische Musik;</li>
        </ul>
    </div>
</div>
