@{
    ViewBag.Title = "Motivationsschreiben";
}

<h4 class="hidden-print">Motivationsschreiben </h4>

<div class="row">
    <div class="col-xs-12">
        <h6><strong>Bewerbung von Vasile Cristian Prisecaru </strong></h6>
        <p>
            Madrider Ring 54, 97084 Würzburg (Deutschland)<br />
            +49 1573 490 6117<br />
            <a href="mailto:cristian.prisecaru@gmail.com">cristian.prisecaru@gmail.com</a><br />
            <a href="http://pca.apphb.com/">pca.apphb.com</a><br />
        </p>
    </div>
</div>
@*<div class="row">
        <div class="col-xs-12">
            <h6><strong>Firma </strong></h6>
            <p>
                Madrider Ring 54, 97084 Würzburg (Deutschland)<br />
                +49 1573 490 6117<br />
                cristian.prisecaru@gmail.com<br />
                <a href="http://pca.apphb.com/">pca.apphb.com</a><br />
            </p>
        </div>
    </div>*@
<div class="row">
    <div class="col-xs-6">
        &nbsp;@*test why offset for the second column does not work, in order to avoid this extra column*@
    </div>
    <div class="col-xs-6 col-xs-offset-2">
        <h6><strong> Würzburg, @DateTime.Now.ToString("dd.MM.yyyy") </strong></h6>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5><strong> Bewerbung als .NET Software Engineer</strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>Sehr geehrte Damen und Herren</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>
            ich schreibe Ihnen, weil ich zurzeit auf der Suche nach einer Arbeitsstelle als .NET Softwareentwickler / Architekt in München bin.
            Von verschiedenen Internetquellen habe ich erfahren, dass Ihr Unternehmen die Qualität der Entwicklung,
            aber auch die Weiterentwicklung von Mitarbeitern sehr wichtig findet. Das hat mein Interesse
            geweckt und deswegen möchte ich mich hiermit bewerben.
        </p>
        <p>
            Aktuell bin ich bei Eikona AG in Volkach als .NET Softwareentwickler tätig und seit mehr als
            sieben Jahren arbeite ich in .NET Umfeld, wo ich mich mit dem Entwurf und der
            Entwicklung von Anwendungen mit .NET Framework beschäftige. In dieser Zeit habe
            ich an alle Phasen des Software-Entwicklungsprozesses teilgenommen und mit
            Erfolg zahlreiche Projekten für ausländische Unternehmen abgeschlossen.
        </p>
        <p>
            Ich bin eine qualitätsorientierte und zielorientierte Person und beherrsche vier Sprachen.
            Die Architektur eines Systems, "Clean Code", Big Data und saubere Frameworks wie z.B. ASP.NET MVC sind mir hochwertig.
            Auch besitze ich einen Hochschulabschluss in Informatik an der Universität "Al. I.
            Cuza", Iasi (Rumänien), wo ich fundierte wissenschaftliche Kenntnisse in
            Programmierung bekommen habe.
        </p>
        <p>
            Ich bin an dieser Arbeitsstelle interessiert, weil ich meine gesammelte Erfahrung und meine Kenntnisse erfolgreich einbringen kann,
            aber auch mich persönlich weiterentwickeln kann.
        </p>
        <p>
            Sie bekommen mehrere Informationen über mich in meinem anbei liegenden Lebenslauf.<br>
            Ich freue mich besonders, über meine Bewerbung im Detail zu sprechen.
        </p>
        <p>
            <h5>
                Mit freundlichen Grüßen,<br />
                Cristian Prisecaru
            </h5>
        </p>
    </div>
</div>