@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ProApps</h1>
    <p class="lead">This is my corner for experimenting ASP.NET MVC and not only. Feel free to share your thoughts.</p>
    <p><a href="@Url.Action("demos", "home")" class="btn btn-primary btn-lg">Show more &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>About me</h2>
        <p>This is the short story of "who am I" and "what I do".</p>
        <p><a class="btn btn-default" href="@Url.Action("about", "home")">Show more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Curriculum Vitae</h2>
        <p>
            Here you can find some things about my professional life.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("cv", "home")">Show more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Demo corner</h2>
        <p>You can easily find here some small demos, that might be helpful to you.</p>
        <p><a class="btn btn-default" href="@Url.Action("demos", "home")">Show more &raquo;</a></p>
    </div>
</div>